.homepagewrapper { 
    max-width: $homepage-width;
    margin: 0px auto;
    
    @media screen and (max-width: $homepage-width + 10px) {
        max-width: 100%;
        margin: 0px 10px;
    }
}

#center-text {
    vertical-align: middle;
    display: table-cell;
}

#up-text {
    vertical-align: top;
}

#inbox {
    vertical-align: middle;
    color: white;
}

.whatwedo-image-small {
    text-align: center;
    width: 100%;
    
    margin-bottom: 14px;
    
    img {
        max-width: 230px;
    }
}

@media screen and (min-width: 700px) {
    .whatwedo-image-large {
        display: table-cell;
    }
    .whatwedo-image-small {
        display: none;
    }
}

@media screen and (max-width: 700px) {
    .whatwedo-image-large {
        display: none;
    }
    .whatwedo-image-small {
        display: block;
    }
}

@media screen and (max-width: 1250px){
    .normwidthupdate {
        display: none;
    }
    .smallwidthupdate {
        display: table;
    }
}

@media screen and (min-width: 1250px) {
    .normwidthupdate {
        display: table;
    }
    .smallwidthupdate {
        display: none;
    }
}



@media screen and (max-width: 800px){
    .carouselTable {
        display: none;
    }
    #tiny {
        display: table;
    }
}

@media screen and (min-width: 800px) {
    .carouselTable {
        display: table;
    }
    #tiny {
        display:none;
    }
}

@media screen and (min-width: 900px) {
    .normwidthaction {
        display: table;
    }
    .smallwidthaction {
        display: none;
    }
}

@media screen and (max-width: 900px) {
    .normwidthaction {
        display: none;
    }
    .smallwidthaction {
        display: table;
    }
}

.card {
    position: relative;
    flex-shrink: 0;
    flex-grow: 0;
    width: 100%;
    
    display: inline;
    vertical-align: top;
    float: none;
    margin: 0px;
    padding: 0px;
    
    white-space:0;
}

.imageCard {
    float: left;
    margin: 0px;
    padding: 0px;
    white-space:0;
}

@keyframes carousel {
    0%    { left:0; }
    30%   { left:0; }
    36%   { left:-100%; }
    63%   { left:-100%; }
    70%   { left:-200%; }
    97%   { left:-200%; }
    100%  { left:0%; }
}

@-webkit-keyframes carousel {
    0%    { left:0; }
    30%   { left:0; }
    36%   { left:-100%; }
    63%   { left:-100%; }
    70%   { left:-200%; }
    97%   { left:-200%; }
    100%  { left:0%; }
}

.inlineblock {
    position: relative;
    left: 0px;
    
    display: flex;
    width: 100%;
    
    -webkit-animation: carousel 45s infinite; /* Chrome, Safari, Opera */
            animation: carousel 45s infinite;
}

.card:hover {
    cursor: pointer;
}

.cardInfo:hover {
    background: rgba(0, 0, 0, 0.85);
}

.cardInfo {
    position: absolute;
    right: 0px;
    left: 0px;
    bottom: 0px;
    width: 100%;
    
    padding-top: 15px;
    padding-bottom: 15px;
    padding-right: 20px;
    padding-left: 0px;
    
    color: white;
    text-align: center;
    
    -webkit-transition: 0.15s ease-in-out;
    transition: 0.15s ease-in-out;
    
    background: rgba(0, 0, 0, 0.65);
}

.cardTitle {
    text-shadow: 3px 3px 5px black;
    font-weight: bolder;
}

.cardInfoText {
    text-shadow: 3px 3px 5px rgba(0, 0, 0, 0.5);
}

.home {
    position: relative;
    left: 0px;
    right: 0px;
}

.indexpost {
    background: white;
}

.indexpost:hover {
    background: #e6e6e6;
    cursor: pointer;
}
