<header class="site-header">
    <div style="display: flex; flex-direction: row; align-items: center; height: 70px; margin: 5px; padding: 0px 4px;">
        <a href="{{ site.baseurl }}/" style="flex: auto 1 0">
            <img style="width: 90px; display: inline-block"  src="/assets/header/logo.png" />
            
            <img style="height: 70px;" class="normaltitle" src="/assets/header/wordmark.png" />
            <img style="height: 70px;" class="smalltitle" src="/assets/header/nummark.png" />
        </a>
        
        <div onclick="togglemenu()" class="small_navigation_button hover_animate" style="width: 100%; text-align: center; margin: 0px 8px; font-size: 40px; color: white;">
            ☰
        </div>

        <div id="normal_navigation" class="normal_navigation">
            <nav class="site-nav" style="display: flex; flex-direction: row; justify-content: flex-end; align-items: stretch; margin-right: 12px; ">
                {% for page in site.data.pages %}
                <div class="menu_button hover_animate">
                    <a href="{{ page.permalink }}" class="nounder page-link" style="height: 100%;">
                        <div style="height: 100%; padding: 20px;">
                            {{ page.title }}
                        </div>
                    </a>
                </div>
                {% endfor %}

                {% for social in site.data.socials %}
                <div style="flex: 40px 0 0; margin-left: 8px; display: flex; flex-direction: column; justify-content: center;">
                    <a href="{{ social.link }}">
                        <img id="{{ social.name }}" />
                    </a>
                </div>
                {% endfor %}
            </nav>
        </div>
    </div>

    <script>
        $(document).ready(function() {
            $("#navigation_dropdown").css("height", "0px");
        });

        $(window).resize(function() {
            if ($("#normal_navigation").css("display") == "block") {
                $("#navigation_dropdown").css("height", "0px");
            }
        })
        
        function togglemenu() {
            var sdiv = $("#navigation_dropdown");
            
            if (sdiv.css("height") == "0px") {
                sdiv.animate({height: $("#smallmenu").css("height")}, "fast");
            }
            else {
                sdiv.animate({height: '0px'}, "fast");
            }
        }
    </script>
    
    <div id="navigation_dropdown" style="height: 0px;">
        <nav id="smallmenu" style="display: flex; flex-direction: column; align-items: stretch; width: 100%;">
            {% for page in site.data.pages %}
            <div class="dropdown_element hover_animate">
                <a href="{{ page.permalink }}" class="nounder">
                    <div style="padding: 12px;">
                        {{ page.title }}
                    </div>
                </a>
            </div>
            {% endfor %}

            <div class="dropdown_social">
                {% for social in site.data.socials %}
                <div class="icon">
                    <a href="{{ social.link }}">
                        <img id="{{ social.name }}" />
                    </a>
                </div>
                {% endfor %}
            </div>
        </nav>
    </div>
</header>
