---
layout: subpage
title: About
subtitle: Our Departments
group: departments
permalink: /about/departments/
redirect_from:
- /about/divisions/
- /about/divisions
- /about/sectors/
- /about/sectors
---
Our team is composed of five departments that are each responsible for a specific subset of work that gets done on our team. This includes designing, building, programming, and wiring the robot, developing effective game strategies, managing the social media, public relations, and merchandies of our team, and writing and presenting to companies and judges to gain corporate sponsorships and win awards at our competitions. Learn more about our departments here!
<br>
<br>
<br>
<table class="full_table alternating" cellspacing="0px">
    {% for division in site.data.departments %}
    <tr width="100%">
        <td width="27%" style="text-align: left; vertical-align: center; padding: 15px; padding-right: 5px;">
            {% if division.photo %}
            <img style="margin-right: 10px; margin-bottom: 0px; width: 100%;" src="/assets/page_photos/about/departments/{{ division.photo }}.png"
            /> {% else %}
            <img style="margin-right: 10px; margin-bottom: 0px; width: 100%;" src="/assets/page_photos/about/departments/default.png" /> {% endif %}
        </td>
        <td width="100%" style="text-align: left; vertical-align: top; padding: 15px; padding-left: 5px;">
            <h2 style="margin-bottom: -6px;">{{ division.name }}</h2>
            {{ division.description }}
        </td>
    </tr>
    {% endfor %}
</table>
